{% comment %} Table: Evaluation Counts {% endcomment %}
<div class="card mt-4">
    <div class="card-header">
        <h3 class="mb-0">List of Evaluated Faculties</h3>
    </div>
    <div class="card-body">
        <div style="overflow: hidden !important;">
            <table class="table" id="evaluations-dt" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Average Student Rating</th>
                        <th>Performance Score</th>
                        <th>Average Supervisor Rating</th>
                        <th>Performance Score</th>
                        <th>Overall Performance Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <input type="text" placeholder="Search Faculty" class="form-control form-control-sm search-input-ave" data-column="0">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Average Student Rating" class="form-control form-control-sm search-input-ave" data-column="1">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Score" class="form-control form-control-sm search-input-ave" data-column="2">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Average Supervisor Rating" class="form-control form-control-sm search-input-ave" data-column="3">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Score" class="form-control form-control-sm search-input-ave" data-column="4">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Performance Score" class="form-control form-control-sm search-input-ave" data-column="5">
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>