
:root,
[data-bs-theme=light] {
    --tblr-blue: #880000 !important;
}

:root, [data-bs-theme=light] {
    --tblr-primary: #880000 !important;
    --tblr-primary-rgb: #880000 !important;
}

body, h1, h2, h3, h4, h5, h6,
p, li, a, .nav-link-title {
    font-family: 'Figtree' !important;
}

.btn-primary {
    --tblr-btn-border-color: transparent;
    --tblr-btn-hover-border-color: transparent;
    --tblr-btn-active-border-color: transparent;
    --tblr-btn-color: var(--tblr-primary-fg);
    --tblr-btn-bg: #880000 !important;
    --tblr-btn-hover-color: var(--tblr-primary-fg);
    --tblr-btn-hover-bg: #9f3232 !important;
    --tblr-btn-active-color: var(--tblr-primary-fg);
    --tblr-btn-active-bg: #9f3232 !important;
    --tblr-btn-disabled-bg: #880000 !important;
    --tblr-btn-disabled-color: var(--tblr-primary-fg);
    --tblr-btn-box-shadow: var(--tblr-box-shadow-input);
}

.nav-item {
    margin-right: 1.5rem;
}

.table-sort:after {
    display: none !important;
}

.modal-footer {
    background-color: white !important;
}