{% load static %}

<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <div class="row flex-fill align-items-center">
                    <div class="col">
                        <ul class="navbar-nav">
                            <li class="nav-item" id="active-dashboard">
                                <a class="nav-link" href=" {% url 'dashboard:dashboard' %} ">
                                    <span class="nav-link-title">
                                        Dashboard
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-eval">
                                <a class="nav-link" href=" {% url 'evaluations:evaluations' %} " >
                                    <span class="nav-link-title">
                                        Evaluations
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-research">
                                <a class="nav-link" href=" {% url 'research:research' %} " >
                                    <span class="nav-link-title">
                                        Research and Publications
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-prodev">
                                <a class="nav-link" href=" {% url 'prodevelopment:prodevelopment' %} " >
                                    <span class="nav-link-title">
                                        Professional Development
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-extension">
                                <a class="nav-link" href=" {% url 'extension:extension' %} " >
                                    <span class="nav-link-title">
                                        Extension Services
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-ranking">
                                <a class="nav-link" href=" {% url 'ranking:ranking' %} " >
                                    <span class="nav-link-title">
                                        Faculty Ranking
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item" id="active-mgmt">
                                <a class="nav-link" href=" {% url 'management:management' %} " >
                                    <span class="nav-link-title">
                                        Faculty Management
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    var active_request = JSON.parse('{{ requestz|safe }}');
    var currentURL = window.location.href;
    var urlsToCheck = [
        {   "url": "{% url 'dashboard:dashboard' %}"            ,   "ids": ["active-dashboard"]     },
        {   "url": "{% url 'management:management' %}"          ,   "ids": ["active-mgmt"]          },
        {   "url": "{% url 'evaluations:evaluations' %}"        ,   "ids": ["active-eval"]          },
        {   "url": "{% url 'research:research' %}"              ,   "ids": ["active-research"]      },
        {   "url": "{% url 'prodevelopment:prodevelopment' %}"  ,   "ids": ["active-prodev"]        },
        {   "url": "{% url 'ranking:ranking' %}"                ,   "ids": ["active-ranking"]       },
        {   "url": "{% url 'extension:extension' %}"            ,   "ids": ["active-extension"]     },
    ];

    urlsToCheck.forEach(function(item) {
        var isCurrentURL = currentURL.includes(item.url);
        item.ids.forEach(function(elementId) {
            var element = document.getElementById(elementId);
            if (element) {
                if (isCurrentURL) {
                    element.classList.add(active_request);
                } 
                else {
                    element.classList.remove(active_request);
                }
            }
        });
    });
</script>