        {% comment %} Table: Reports {% endcomment %}
        <div class="card ">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><button class="table-sort">Faculty</button></th>
                                <th><button class="table-sort">Evaluations</button></th>
                                <th><button class="table-sort">Research and Publications</button></th>
                                <th><button class="table-sort">Professional Development</button></th>
                                <th><button class="table-sort">Extension Services</button></th>
                                <th><button class="table-sort">Final Score</button></th>
                                <th><button class="table-sort">Old Faculty Rank</button></th>
                                <th><button class="table-sort">New Faculty Rank</button></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>89.5</td>
                                <td>100.0</td>
                                <td>40.12</td>
                                <td>40.12</td>
                                <td>86.0</td>
                                <td>Assistant Professor IV</td>
                                <td>Associate Professor IV</td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-ranking" class="fw-medium px-1">See Report</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Leandro B. Avena III</td>
                                <td>89.5</td>
                                <td>100.0</td>
                                <td>40.12</td>
                                <td>40.12</td>
                                <td>86.0</td>
                                <td>Lecturer</td>
                                <td>Not Applicable</td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-ranking" class="fw-medium px-1">See Report</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>