{% extends "fps.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Rank Reports
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">List of Ranking Reports</h3>
            </div>
            <div class="card-body">
                <div style="overflow: hidden !important;">
                    <table class="table" id="reports-dt" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Faculty</th>
                                <th>KRA 1</th>
                                <th>KRA 2</th>
                                <th>KRA 3</th>
                                <th>KRA 4</th>
                                <th>Bracket Count</th>
                                <th>Old Faculty Rank</th>
                                <th>New Faculty Rank</th>
                                <th>Impression</th>
                                <th>Rank Evaluation Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" placeholder="Search Faculty" class="form-control form-control-sm search-input-ranking" data-column="0">
                                </th>
                                <th>
                                    <input type="text" placeholder="KRA 1" class="form-control form-control-sm search-input-ranking" data-column="1">
                                </th>
                                <th>
                                    <input type="text" placeholder="KRA 2" class="form-control form-control-sm search-input-ranking" data-column="2">
                                </th>
                                <th>
                                    <input type="text" placeholder="KRA 3" class="form-control form-control-sm search-input-ranking" data-column="3">
                                </th>
                                <th>
                                    <input type="text" placeholder="KRA 4" class="form-control form-control-sm search-input-ranking" data-column="4">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Bracket Count" class="form-control form-control-sm search-input-ranking" data-column="5">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Old Rank" class="form-control form-control-sm search-input-ranking" data-column="6">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search New Rank" class="form-control form-control-sm search-input-ranking" data-column="7">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Impression" class="form-control form-control-sm search-input-ranking" data-column="8">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Date" class="form-control form-control-sm search-input-ranking" data-column="9">
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var dataTable = $('#reports-dt').DataTable({
            "processing": true,
            "responsive": true,
            "searching": true,
            "ordering": true,
            "language": {
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },   
            "columnDefs": [{
                targets: [5],
                className: "dt-center" 
            }], 
            "ajax": {
                "url": "{% url 'management:get_reports' %}",
                "dataSrc": "data"
            },
            "columns": [
                { "data": "faculty_name"},
                { "data": "evaluations"},
                { "data": "researchpapers"},
                { "data": "prodev"},
                { "data": "extension"},
                { "data": "bracketcount"},
                { "data": "oldrank"},
                { "data": "newrank"},
                { "data": "assessment"},
                { "data": "evaldate"},
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        const faculty = full.faculty_name;
                        return  `
                                    <a href="#" class="fw-bolder" onclick="passtoBack('${faculty}')">
                                        <span class="col">Report</span>
                                    </a>
                                `;
                    }
                },
            ],  
        }); 
        $('.search-input-ranking').on('keyup', function () {
            var column = $(this).data('column');
            dataTable.column(column).search(this.value).draw();
        });
        function recalculateResponsive() {
            dataTable.responsive.recalc();
        } 
        $(window).resize(recalculateResponsive);
    });

    function passtoBack(faculty) {
        var form = $('<form>', {
            'method': 'POST',
            'action': '{% url "management:export" %}'
        });
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        form.append($('<input>', {
            'type': 'hidden',
            'name': 'csrfmiddlewaretoken',
            'value': csrfToken
        }));
        form.append($('<input>', {
            'type': 'hidden',
            'name': 'faculty_name',
            'value': faculty
        }));
        form.appendTo('body').submit();
    }
</script>
{% endblock %}