{% comment %} Table: Institutional Social Responsibility {% endcomment %}
<div class="card mt-4">
    <div class="card-header pb-0">
        <h3>List of Extension Services Participants</h3>
    </div>
    <div class="card-body">
        <div style="overflow: hidden !important;">
            <table class="table" id="table-extension">
                <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Extension Activity</th>
                        <th>Community</th>
                        <th>Role</th>
                        <th>Date of Activity</th>
                        <th>Hours</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <input type="text" placeholder="Search Participant" class="form-control form-control-sm search-input-dt-prodev" data-column="0">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Activity" class="form-control form-control-sm search-input-dt-prodev" data-column="1">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Community" class="form-control form-control-sm search-input-dt-prodev" data-column="2">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Date" class="form-control form-control-sm search-input-dt-prodev" data-column="3">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Hours" class="form-control form-control-sm search-input-dt-prodev" data-column="4">
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>