{% extends "fps.html" %}
{% load static %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Research Output Published
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        {% comment %} Modal: Published Counts {% endcomment %}
        <div class="modal modal-blur fade" id="modal-count-research" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Published Research Papers</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Author</button></th>
                                    <th><button class="table-sort">Research Title</button></th>
                                    <th><button class="table-sort">Research Type</button></th>
                                    <th><button class="table-sort">Date Published</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Leandro B. Avena III</td>
                                    <td>Impact of Social Media on Mental Health</td>
                                    <td>Basic Research</td>
                                    <td>June 1, 2024</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Modal: Unpublished Counts {% endcomment %}
        <div class="modal modal-blur fade" id="modal-count-research-unp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Ongoing Research Papers</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Author</button></th>
                                    <th><button class="table-sort">Research Title</button></th>
                                    <th><button class="table-sort">Research Type</button></th>
                                    <th><button class="table-sort">Date Published</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Enhancing Security Implementation Database Software Company:<br/>A Case Study in Ensuring Safety</td>
                                    <td>Case Study</td>
                                    <td><span class="badge bg-gray-lt me-1">Not yet published</span></td>
                                </tr>
                                <tr>
                                    <td>Christian O. Balatbat</td>
                                    <td>Developing A Dynamic Website Using The Online Website Builder Weebly</td>
                                    <td>Case Study</td>
                                    <td><span class="badge bg-gray-lt me-1">Not yet published</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Table Modal: Research Published Per Year {% endcomment %}
        <div class="modal modal-blur fade" id="modal-per-year" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">No. of Research Papers Published Per Year</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Author</button></th>
                                    <th><button class="table-sort">Research Title</button></th>
                                    <th><button class="table-sort">Date Published</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Enhancing Security Implementation Database Software Company:<br/>A Case Study in Ensuring Safety</td>
                                    <td>Jun. 01, 2024</td>  
                                </tr>
                                <tr>
                                    <td>Christian O. Balatbat</td>
                                    <td>Developing A Dynamic Website Using The Online Website Builder Weebly</td>
                                    <td>Jun. 01, 2024</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Table Modal: Research Types {% endcomment %}
        <div class="modal modal-blur fade" id="modal-type" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Published Papers Per Type</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Author</button></th>
                                    <th><button class="table-sort">Research Title</button></th>
                                    <th><button class="table-sort">Research Type</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Enhancing Security Implementation Database Software Company:<br/>A Case Study in Ensuring Safety</td>
                                    <td>Case Study</td>  
                                </tr>
                                <tr>
                                    <td>Christian O. Balatbat</td>
                                    <td>Developing A Dynamic Website Using The Online Website Builder Weebly</td>
                                    <td>Basic Research</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Card: Published & Unpublished Counts {% endcomment %}
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="row row-cards">
                    <style>
                        .pop-on-hover {
                            transition: transform 0.3s ease, box-shadow 0.3s ease;
                        }
                        .pop-on-hover:hover {
                            transform: translateY(-8px);
                            box-shadow: 0px rgba(0, 0, 0, 0.1);
                        }
                    </style>
                    <div class="col-sm-6 col-lg-6 pop-on-hover ">
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal-count-research">
                            <div class="card card-sm">
                                <div class="card-body" role="button">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-info text-white avatar">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-progress-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" /><path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" /><path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" /><path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" /><path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" /><path d="M9 12l2 2l4 -4" /></svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium strong">
                                                <span>1</span> Published 
                                            </div>
                                            <div class="text-muted">
                                                Research Paper/s this Year
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-6 pop-on-hover ">
                        <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal-count-research-unp">
                            <div class="card card-sm">
                                <div class="card-body" role="button">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-green text-white avatar">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-progress-alert"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" /><path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" /><path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" /><path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" /><path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" /><path d="M12 8v4" /><path d="M12 16v.01" /></svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium strong">
                                                <span>2</span> Ongoing
                                            </div>
                                            <div class="text-muted">
                                                Research Paper/s this Year
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Detail Modal: Research Details {% endcomment %}
        <div class="modal modal-blur fade" id="modal-research-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Research Performance</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="py-2">
                            <div class="row">
                                <h4 class="col-auto col-lg-6">Author Name:</h4>
                                <span class="col-auto col-lg-6">Alma A. Fernandez</span>
                            </div>
                            <div class="row">
                                <h4 class="col-auto col-md-6">Performance Score:</h4>
                                <div class="col-auto col-md-6">
                                    <span class="col-auto">50 points</span>
                                </div>
                            </div>
                        </div>                        
                        <div class="py-2">
                            <div class="row">
                                <div class="accordion p-0" id="accordionExample">
                                    <div class="accordion-item" style="border: 0px !important;">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Metrics
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="py-2">
                                                    <p class="py-1 text-muted">
                                                        The formula calculates the points for the research paper based on the type of research output specified. The points are assigned as follows:
                                                        <p class="text-muted">
                                                            <div class="row">
                                                                <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                    <li>Book</li>
                                                                    <li>Journal Article</li>
                                                                    <li>Book Chapter</li>
                                                                    <li>Monograph</li>
                                                                    <li>Other Peer-Reviewed Output</li>
                                                                </ul>
                                                                <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                    <li><span>: 100 points</span></li>
                                                                    <li><span>: 50 points</span></li>
                                                                    <li><span>: 35 points</span></li>
                                                                    <li><span>: 100 points</span></li>
                                                                    <li><span>: 10 points</span></li>
                                                                </ul>
                                                            </div>
                                                        </p>
                                                    </p>
                                                </div>
                                                <div class="py-2">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                        </div>
                                                        <h4 class="col-auto">Output Type:</h4>
                                                        <span class="col-auto">Journal Article</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Analytics: Research Counts {% endcomment %}
        <div class="row row-deck row-cards mt-2">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="col card-title mb-0 fw-bolder">No. of Research Papers Published Per Year</h3>
                            <div class="ms-auto lh-1">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-per-year">
                                    <span class="col">View</span>
                                </a>
                            </div>
                        </div>
                        <div id="firstsemPublishedChart" class="chart-lg"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="col card-title mb-0 fw-bolder">No. of Research Output Types</h3>
                            <div class="ms-auto lh-1">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-type">
                                    <span class="col">View</span>
                                </a>
                            </div>
                        </div>
                        <div id="secondtsemPublishedChart" class="chart-lg"></div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Table: Research Counts {% endcomment %}
        <div class="card mt-4">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><button class="table-sort">Research Author</button></th>
                                <th><button class="table-sort">Research Title</button></th>
                                <th><button class="table-sort">Research Output Type</button></th>
                                <th><button class="table-sort">Journal/Publisher</button></th>
                                <th><button class="table-sort">Status</button></th>
                                <th><button class="table-sort">Date Published</button></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>Enhancing Security Implementation Database Software Company: A Case Study in Ensuring Safety</td>
                                <td>Journal Article</td>
                                <td>Journal of Advanced Research</td>
                                <td><span class="badge bg-dark-lt me-1">Pending</span></td>
                                <td><span class="badge bg-gray-lt me-1">Not yet published</span></td>
                                <th><a href="#" data-bs-toggle="modal" data-bs-target="#modal-research-detail" class="fw-medium">See Details</a></th>
                            </tr>
                            <tr>
                                <td>Christian O. Balatbat</td>
                                <td>Developing A Dynamic Website Using The Online Website Builder Weebly</td>
                                <td>Other Peer Reviewed Output</td>
                                <td>Journal of Advanced Research</td>
                                <td><span class="badge bg-dark-lt me-1">Pending</span></td>
                                <td><span class="badge bg-gray-lt me-1">Not yet published</span></td>
                                <th><a href="#" class="fw-medium">See Details</a></th>
                            </tr>
                            <tr>
                                <td>Leandro B. Avena III</td>
                                <td>Impact of Social Media on Mental Health</td>
                                <td>Other Peer Reviewed Output</td>
                                <td>Journal of Advanced Research</td>
                                <td><span class="badge bg-blue-lt me-1">Published</span></td>
                                <td>June 1, 2024</td>
                                <th><a href="#" class="fw-medium">See Details</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
<script>
    var options = {
        chart: {
            type: "line",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "Published",
                data: [56, 74, 69, 79, 83],
            },
        ],
        xaxis: {
            categories: ["2019", "2020", "2021", "2023", "2024"],
            title: {
                text: "Year",
            },
        },
        yaxis: {
            title: {
                text: "No. of Papers",
            },
            max: 100,
            min: 0,
        },
        stroke: {
            show: true,
            curve: 'smooth',
            lineCap: 'butt',
            colors: undefined,
            width: 2,
            dashArray: 0, 
        },
        
    };
    var chart = new ApexCharts(document.getElementById("firstsemPublishedChart"), options);
    chart.render();
</script>
<script>
    var options = {
        chart: {
            type: "bar",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "Published",
                data: [56, 74, 69, 79, 83],
            },
        ],
        xaxis: {
            categories: ["Basic Research", "Developmental", "Descriptive", "Case Study", "Experimental"],
            title: {
                text: "Research Types",
            },
        },
        yaxis: {
            title: {
                text: "No. of Papers",
            },
            max: 100,
            min: 0,
        },
    };
    var chart = new ApexCharts(document.getElementById("secondtsemPublishedChart"), options);
    chart.render();
</script>
{% endblock %}