{% extends "fps.html" %}
{% load static %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Faculty Ranking
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        {% comment %} Analytics Modal: Ranking {% endcomment %}
        <div class="modal modal-blur fade" id="modal-ranking-analytics" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Updated Faculty Ranks</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="table-default" class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><button class="table-sort">Faculty</button></th>
                                        <th><button class="table-sort">Faculty Type</button></th>
                                        <th><button class="table-sort">Current Faculty Rank</button></th>
                                        <th><button class="table-sort">New Faculty Rank</button></th>
                                    </tr>
                                </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Regular Faculty</td>
                                    <td>Assistant Professor IV</td>
                                    <td>Assistant Professor IV</td>
                                </tr>
                                <tr>
                                    <td>Leandro B. Avena III</td>
                                    <td>Part-time Faculty</td>
                                    <td>Lecturer</td>
                                    <td>Not Applicable</td>
                                </tr>
                                <tr>
                                    <td>Christian O. Balatbat</td>
                                    <td>Part-time Faculty</td>
                                    <td>Lecturer</td>
                                    <td>Not Applicable</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Details Modal: Details Ranking {% endcomment %}
        <div class="modal modal-blur fade" id="modal-ranking" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Faculty Ranking Evaluation</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="py-1">
                            <div>
                                <p class=" text-muted">
                                    This part shows how a faculty member's total points determine their rank progression through sub-rank increments. For example, a score of 85 points falls in the 81-90 bracket, leading to 5 sub-rank increments, and thus advancing a faculty member from Associate Professor V to Professor V.
                                </p>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                        <li>Score Bracket</li><br/>
                                        <li>41 - 50</li>
                                        <li>51 - 60</li>
                                        <li>61 - 70</li>
                                        <li>71 - 80</li>
                                        <li>81 - 90</li>
                                        <li>91 - 100</li>
                                    </ul>
                                    <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                        <li>No. of Sub-rank Increment</li><br/>
                                        <li><span>: 1 sub rank</li>
                                        <li><span>: 2 sub rank</li>
                                        <li><span>: 3 sub rank</li>
                                        <li><span>: 4 sub rank</li>
                                        <li><span>: 5 sub rank</li>
                                        <li><span>: 6 sub rank</li>
                                    </ul>
                                </div>
                                <div class="row py-2">
                                    <div class="col-auto">
                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                    </div>
                                    <h4 class="col-auto col-auto">Final Recommended Faculty Rank:</h4>
                                    <span class="col-auto col-auto text-blue">Associate Professor IV</span>
                                </div>
                                <div class="row py-2">
                                    <div class="col-auto">
                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                    </div>
                                    <h4 class="col-auto col-auto">Impression:</h4>
                                    <span class="col-auto col-auto text-blue fw-bolder">Promoted</span>
                                </div>
                            </div>
                        </div>
                        <div class="py-1">
                            <div class="row">
                                <div class="accordion p-0" id="accordionExample">
                                    <div class="accordion-item" style="border: 0px !important;">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Metrics
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body text-muted">
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Faculty Name:</h4>
                                                    <span class="col-auto col-lg-6">: Alma A. Fernandez</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Current Faculty Rank:</h4>
                                                    <span class="col-auto col-lg-6">: Assistant Professor IV</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Qualified for Auto. +1 (for PhD):</h4>
                                                    <span class="col-auto col-lg-6">: No</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Base Rank:</h4>
                                                    <span class="col-auto col-lg-6">: Assistant Professor IV</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">No. of Sub-Rank Increment based on Base Rank:</h4>
                                                    <span class="col-auto col-lg-6">: 5</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Initial Reclassified Rank (first computation):</h4>
                                                    <span class="col-auto col-lg-6">: Associate Professor IV</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">No. of Sub-Rank Increment based on Reclassified Rank:</h4>
                                                    <span class="col-auto col-lg-6">: 5</span>
                                                </div>
                                                <div class="row">
                                                    <h4 class="col-auto col-lg-6">Reclassified Rank (recomputation):</h4>
                                                    <span class="col-auto col-lg-6">: Associate Professor IV</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-1">
                            <div class="row">
                                <div class="accordion p-0" id="accordionExample">
                                    <div class="accordion-item" style="border: 0px !important;">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Computations
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="py-2">
                                                    <p class="py-1 text-muted">
                                                        This table shows the total points a faculty member can earn based on their scores and the weighted importance of different Key Result Areas (KRAs). It demonstrates how these points determine the faculty rank, ranging from Instructor to College/University Professor.
                                                        <br/><br/>How to interpret this table:
                                                        <ul class="list-unstyled text-muted col-md-12 col-auto" style="margin-left: 0.5rem;">
                                                            <li>1. The weights of each KRA change based on the rank, emphasizing different aspects of faculty performance for different ranks.</li><br/>
                                                            <li>2. The faculty's score in each KRA is multiplied by the corresponding weight to calculate the points for that KRA.</li><br/>
                                                            <li>3. The total points are the sum of points from all KRAs.</li><br/>
                                                            <li>4. These total points determine the faculty rank, where higher points indicate a higher faculty rank.</li><br/>
                                                        </ul>
                                                        <div class="row">
                                                            {% comment %} Instructor {% endcomment %}
                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                <li>a. for Instructor (I-III)</li>
                                                                <p class="text-muted">
                                                                    <div class="row">
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li>Teaching Effectiveness</li>
                                                                            <li>Research Outputs</li>
                                                                            <li>Extension Services</li>
                                                                            <li>Continuing Development</li>
                                                                        </ul>
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li><span>: 60% = </span> <u>00.0</u></li>
                                                                            <li><span>: 10% = </span> <u>00.0</u></li>
                                                                            <li><span>: 20% = </span> <u>00.0</u></li>
                                                                            <li><span>: 10% = </span> <u>00.0</u></li>
                                                                        </ul>
                                                                    </div>
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                    </div>
                                                                    <h4 class="col-auto text-dark">Total Points:</h4>
                                                                    <span class="col-auto">84</span>
                                                                </div>
                                                            </ul>
                                                            {% comment %} Assistant Professor {% endcomment %}
                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                <li>b. for Assistant Professor (I-IV)</li>
                                                                <p class="text-muted">
                                                                    <div class="row">
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li>Teaching Effectiveness</li>
                                                                            <li>Research Outputs</li>
                                                                            <li>Extension Services</li>
                                                                            <li>Continuing Development</li>
                                                                        </ul>
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li><span>: 50%</span> <u>00.0</u></li>
                                                                            <li><span>: 20%</span> <u>00.0</u></li>
                                                                            <li><span>: 20%</span> <u>00.0</u></li>
                                                                            <li><span>: 10%</span> <u>00.0</u></li>
                                                                        </ul>
                                                                    </div>
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                    </div>
                                                                    <h4 class="col-auto text-dark">Total Points:</h4>
                                                                    <span class="col-auto">85</span>
                                                                </div>
                                                            </ul>
                                                            {% comment %} Associate Professor {% endcomment %}
                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                <li>c. for Associate Professor (I-V)</li>
                                                                <p class="text-muted">
                                                                    <div class="row">
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li>Teaching Effectiveness</li>
                                                                            <li>Research Outputs</li>
                                                                            <li>Extension Services</li>
                                                                            <li>Continuing Development</li>
                                                                        </ul>
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li><span>: 40% = </span><u>35.8</u></li>
                                                                            <li><span>: 30% = </span><u>30.0</u></li>
                                                                            <li><span>: 20% = </span><u>8.02</u></li>
                                                                            <li><span>: 10% = </span><u>4.01</u></li>
                                                                        </ul>
                                                                    </div>
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                    </div>
                                                                    <h4 class="col-auto text-dark">Total Points:</h4>
                                                                    <span class="col-auto">86</span>
                                                                </div>
                                                            </ul>
                                                            {% comment %} Professor {% endcomment %}
                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                <li>d. for Professor (I-IV)</li>
                                                                <p class="text-muted">
                                                                    <div class="row">
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li>Teaching Effectiveness</li>
                                                                            <li>Research Outputs</li>
                                                                            <li>Extension Services</li>
                                                                            <li>Continuing Development</li>
                                                                        </ul>
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li><span>: 30% = </span> <u>00.0</u></li>
                                                                            <li><span>: 40% = </span> <u>00.0</u></li>
                                                                            <li><span>: 20% = </span> <u>00.0</u></li>
                                                                            <li><span>: 10% = </span> <u>00.0</u></li>
                                                                        </ul>
                                                                    </div>
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                    </div>
                                                                    <h4 class="col-auto text-dark">Total Points:</h4>
                                                                    <span class="col-auto">87</span>
                                                                </div>
                                                            </ul>
                                                            {% comment %} University Professor {% endcomment %}
                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                <li>e. for University Professor</li>
                                                                <p class="text-muted">
                                                                    <div class="row">
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li>Teaching Effectiveness</li>
                                                                            <li>Research Outputs</li>
                                                                            <li>Extension Services</li>
                                                                            <li>Continuing Development</li>
                                                                        </ul>
                                                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                            <li><span>: 20% = </span> <u>00.0</u></li>
                                                                            <li><span>: 50% = </span> <u>00.0</u></li>
                                                                            <li><span>: 20% = </span> <u>00.0</u></li>
                                                                            <li><span>: 10% = </span> <u>00.0</u></li>
                                                                        </ul>
                                                                    </div>
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-auto">
                                                                        <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                    </div>
                                                                    <h4 class="col-auto text-dark">Total Points:</h4>
                                                                    <span class="col-auto">88</span>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Analytics: Average Ranking {% endcomment %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <h3 class="col card-title mb-0 fw-bolder">Average Performance by Key Result Areas</h3>
                        <div class="ms-auto lh-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-ranking-analytics">
                                <span class="col">View</span>
                            </a>
                        </div>
                    </div>
                    <div id="facultyRankingCharts" class="chart-lg"></div>
                </div>
            </div>
        </div>
        {% comment %} Table 1: Metrics for Faculty Rank {% endcomment %}
        <div class="card mt-4">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><button class="table-sort">Faculty</button></th>
                                <th><button class="table-sort">Teaching Effectiveness</button></th>
                                <th><button class="table-sort">Research Outputs</button></th>
                                <th><button class="table-sort">Professional Development</button></th>
                                <th><button class="table-sort">Extension Services</button></th>
                                <th></th>
                            </tr>
                        </thead>
                    <tbody class="table-tbody">
                        <tr>
                            <td>Alma A. Fernandez</td>
                            <td>89.5</td>
                            <td>100.0</td>
                            <td>40.12</td>
                            <td>40.12</td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-ranking" class="fw-medium px-1">See Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Leandro B. Avena III</td>
                            <td>70.5</td>
                            <td>100.0</td>
                            <td>40.12</td>
                            <td>40.12</td>
                            <td>
                                <a href="#" class="fw-medium px-1">See Details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Christian O. Balatbat</td>
                            <td>69.5</td>
                            <td>100.0</td>
                            <td>40.12</td>
                            <td>40.12</td>
                            <td>
                                <a href="#" class="fw-medium px-1">See Details</a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
<script>
    var options = {
        chart: {
            type: "bar",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "Average Scores",
                data: [56.23, 74.1, 69.43, 83.01],
            },
        ],
        xaxis: {
            categories: ["Teaching Effectiveness", "Research Outputs", "Continuing Development", "Extension Services"],
            title: {
                text: "Key Result Area",
            },
        },
        yaxis: {
            title: {
                text: "Scores",
            },
            max: 100.00,
            min: 0.00,
        },
    };
    var chart = new ApexCharts(document.getElementById("facultyRankingCharts"), options);
    chart.render();
</script>
{% endblock %}