
{% extends "fps.html" %}
{% load static %}
{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Faculty Ranking
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        {% comment %} Details Modal: Details Ranking {% endcomment %}
        <div class="modal modal-blur fade" id="modal-ranking" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <form id="rankForm" method="post" action="{% url 'ranking:edit_rank_evaluation' %}">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="alert-primary" role="alert">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="modal-title">Faculty Ranking Evaluation/Computation</h5>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="py-1">
                                <div>
                                    <p class=" text-muted">
                                        <span class="fw-bolder">
                                            This part shows how a faculty member's total points determine their rank progression through sub-rank increments.<br/><br/>
                                            For example, a score of 85 points falls in the 81-90 bracket, leading to 5 sub-rank increments, and thus advancing a faculty member from Associate Professor V to Professor V.
                                        </span>
                                        <br/><br/>
                                        <span class="text-red">*</span>
                                        <span class="fw-bolder">
                                            <span class="text-dark">Note: </span>
                                            This ranking evaluation is applicable in Regular Raculty only.
                                        </span>
                                    </p>
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                            <li>Score Bracket</li><br/>
                                            <li class="mb-2">40 Below</li>
                                            <li class="mb-2">41 - 50</li>
                                            <li class="mb-2">51 - 60</li>
                                            <li class="mb-2">61 - 70</li>
                                            <li class="mb-2">71 - 80</li>
                                            <li class="mb-2">81 - 90</li>
                                            <li class="mb-2">91 - 100</li>
                                        </ul>
                                        <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                            <li>No. of Sub-rank Increment</li><br/>
                                            <li class="mb-2"><span>: 0 sub rank</li>
                                            <li class="mb-2"><span>: 1 sub rank</li>
                                            <li class="mb-2"><span>: 2 sub rank</li>
                                            <li class="mb-2"><span>: 3 sub rank</li>
                                            <li class="mb-2"><span>: 4 sub rank</li>
                                            <li class="mb-2"><span>: 5 sub rank</li>
                                            <li class="mb-2"><span>: 6 sub rank</li>
                                        </ul>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-auto">
                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                        </div>
                                        <h4 class="col-auto col-auto">Final Reclassified Faculty Rank:</h4>
                                        <span class="col-auto col-auto text-blue fw-bolder" id="newRankSpan">No info in database</span>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-auto">
                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                        </div>
                                        <h4 class="col-auto col-auto">Impression:</h4>
                                        <span class="col-auto col-auto text-blue fw-bolder" id="impressionSpan">No info in database</span>
                                    </div>
                                </div>
                            </div>
                            <div class="py-1">
                                <div class="row">
                                    <div class="accordion p-0" id="accordionExample">
                                        <div class="accordion-item" style="border: 0px !important;">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Metrics
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body text-muted" style="margin-left: 1vw;">
                                                    <div class="row">
                                                        <h4 class="col-auto col-lg-6">Faculty Name: </h4>
                                                        <span class="col-auto col-lg-6" id="facultyNameSpan">No info in database</span>
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="col-auto col-lg-6">Current Faculty Rank: </h4>
                                                        <span class="col-auto col-lg-6" id="currentRankSpan">No info in database</span>
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="col-auto col-lg-6">Qualified for Auto. +1 (for PhD): </h4>
                                                        <span class="col-auto col-lg-6">No</span>
                                                    </div>
                                                    <div class="row">
                                                        <h4 class="col-auto col-lg-6">No. of Sub-Rank Increment based on Reclassified Rank: </h4>
                                                        <span class="col-auto col-lg-6" id="rankIncrementSpan">No info in database</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-1">
                                <div class="row">
                                    <div class="accordion p-0" id="accordionExample">
                                        <div class="accordion-item" style="border: 0px !important;">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Computations
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="py-2">
                                                        <p class="py-1 text-muted">
                                                            <span class="fw-bolder">
                                                                This shows the total points a faculty member that can earn based on their scores and the weighted importance of different Key Result Areas (KRAs). It demonstrates how these points determine the faculty rank, ranging from Instructor to College/University Professor.
                                                                <br/><br/><br/>
                                                                How to interpret this:
                                                            </span>
                                                            <ul class="list-unstyled text-muted col-md-12 col-auto" style="padding: 0rem 2rem;">
                                                                <li>1. The weights of each Key Area change based on the rank, emphasizing different aspects of faculty performance for different ranks.</li><br/>
                                                                <li>2. The faculty's score in each is multiplied by the corresponding weight(percentage) to calculate the points for that Key Area.</li><br/>
                                                                <li>3. The total points are the sum of points from all KRA.</li><br/>
                                                                <li>4. These total points determine the faculty rank, where higher points indicate a higher faculty rank.</li><br/>
                                                            </ul>
                                                            <span class="text-muted fw-bolder">General Weighted KRA Points computation explained below:</span>
                                                            <br/><br/>
                                                            <ul class="list-unstyled text-muted col-md-12 col-auto mt-3" style="padding: 0rem 2rem;">
                                                                <li>a. KRA 1 <b>(Teaching Evaluation)</b> involve 2 semester of current academic year and getting average performance score from it.</li><br/>
                                                                <li>b. KRA 2 <b>(Research Publbshed)</b> involve count of published papers with corresponding score and getting average performance score from it.</li><br/>
                                                                <li>c. KRA 3 <b>(Professional Development Participation)</b> & KRA 4 <b>(Extension Service Participation)</b> involve count of participated conference, training, seminar, etc. with corresponding score and getting average performance score from it.</li><br/>
                                                            </ul>
                                                            <div class="row">
                                                                <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                    <!--li>a. for Instructor (I-III)</li!-->
                                                                    <p class="text-muted">
                                                                        <div class="row">
                                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                                <li class="mb-3">Teaching Effectiveness:</li>
                                                                                <li class="mb-3">Research Outputs:</li>
                                                                                <li class="mb-3">Extension Services:</li>
                                                                                <li class="mb-3">Continuing Development:</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                                <li class="mb-3"><!--span>: 60% = </span!--> <span id="kra1Span">00.0</span> points</li>
                                                                                <li class="mb-3"><!--span>: 10% = </span!--> <span id="kra2Span">00.0</span> points</li>
                                                                                <li class="mb-3"><!--span>: 20% = </span!--> <span id="kra3Span">00.0</span> points</li>
                                                                                <li class="mb-3"><!--span>: 10% = </span!--> <span id="kra4Span">00.0</span> points</li>
                                                                            </ul>
                                                                        </div>
                                                                    </p>
                                                                    <div class="row">
                                                                        <div class="col-auto">
                                                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                                        </div>
                                                                        <h4 class="col-auto text-dark">Computed Score Bracket: </h4>
                                                                        <span class="col-auto" id="totalPointsSpan">0</span>
                                                                    </div>
                                                                </ul>
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="new_rank" id="newRankInput">
                                <input type="hidden" name="impression" id="impressionInput">
                                <input type="hidden" name="faculty_name" id="facultyNameInput">
                                <input type="hidden" name="current_rank" id="currentRankInput">
                                <input type="hidden" name="rank_increment" id="rankIncrementInput">
                                <input type="hidden" name="kra1" id="kra1Input">
                                <input type="hidden" name="kra2" id="kra2Input">
                                <input type="hidden" name="kra3" id="kra3Input">
                                <input type="hidden" name="kra4" id="kra4Input">
                                <input type="hidden" name="total_points" id="totalPointsInput">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="submitNewRankinfos">Confirm Reclassified Faculty Rank</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% comment %} Table 1: Metrics for Faculty Rank {% endcomment %}
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">List of Regular Faculties</h3>
            </div>
            <div class="card-body">
                <div style="overflow: hidden !important;">
                    <table class="table" id="ranking-dt" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Faculty</th>
                                <th>Current Faculty Rank</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" placeholder="Search Faculty" class="form-control form-control-sm search-input-ranking" data-column="0">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Rank" class="form-control form-control-sm search-input-ranking" data-column="1">
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% comment %} GET: Display Faculty Table (Regular Faculties) {% endcomment %}
<script>
    $(document).ready(function() {
        var dataTable = $('#ranking-dt').DataTable({
            "processing": true,
            "responsive": true,
            "searching": true,
            "ordering": true,
            "language": {
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },   
            "columnDefs": [{
                targets: [2], orderable: false,
                "className": "dt-center" 
            }], 
            "ajax": {
                "url": "{% url 'ranking:ranking_table' %}",
                "dataSrc": "data"
            },
            "columns": [
                { "data": "faculty_name"},
                { "data": "faculty_rank"},
                {
                    "data": null,
                    "render": function (data, type, full, meta) {
                        const faculty = full.faculty_name;
                        return `<a href="#" data-bs-toggle="modal" 
                                            data-rn-faculty="${faculty}" 
                                            data-bs-target="#modal-ranking">
                                    <span class="col">Reclassify Rank</span>
                                </a>`;
                    }
                },
            ],  
        }); 
        $('.search-input-ranking').on('keyup', function () {
            var column = $(this).data('column');
            dataTable.column(column).search(this.value).draw();
        });
        function recalculateResponsive() {
            dataTable.responsive.recalc();
        } 
        $(window).resize(recalculateResponsive);
    });
</script>

{% comment %} GET: Reclassify Current Rank {% endcomment %}
<script>
    $('#modal-ranking').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var facultyName = button.data('rn-faculty');

        $.ajax({
            type: "POST",
            url: "{% url 'ranking:post_faculty_rank' %}",
            data: {
                'faculty_name': facultyName,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if(response.status === 'success') {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'ranking:get_faculty_rank' %}",
                        data: {
                            'faculty_name': response.faculty_name,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(getResponse) {
                            $('#facultyNameSpan').text(getResponse.faculty_name);
                            $('#currentRankSpan').text(getResponse.current_faculty_rank);
                            $('#kra1Span').text(getResponse.kra1);
                            $('#kra2Span').text(getResponse.kra2);
                            $('#kra3Span').text(getResponse.kra3);
                            $('#kra4Span').text(getResponse.kra4);
                            $('#totalPointsSpan').text(getResponse.total_points);
                            $('#rankIncrementSpan').text(getResponse.rank_increment);
                            $('#newRankSpan').text(getResponse.new_rank);
                            $('#impressionSpan').text(getResponse.impression);
                        },
                        error: function(getError) {
                            alert(getError);
                        }
                    });
                } else {
                    alert(response.message);
                }
            },
            error: function(error) {
                alert(error);
            }
        });
    });
</script>

{% comment %} POST: Save to table (Faculty Rank) {% endcomment %}
<script>
    document.getElementById('submitNewRankinfos').addEventListener('click', function() {
        document.getElementById('newRankInput').value = document.getElementById('newRankSpan').innerText;
        document.getElementById('impressionInput').value = document.getElementById('impressionSpan').innerText;
        document.getElementById('facultyNameInput').value = document.getElementById('facultyNameSpan').innerText;
        document.getElementById('currentRankInput').value = document.getElementById('currentRankSpan').innerText;
        document.getElementById('rankIncrementInput').value = document.getElementById('rankIncrementSpan').innerText;
        document.getElementById('kra1Input').value = document.getElementById('kra1Span').innerText;
        document.getElementById('kra2Input').value = document.getElementById('kra2Span').innerText;
        document.getElementById('kra3Input').value = document.getElementById('kra3Span').innerText;
        document.getElementById('kra4Input').value = document.getElementById('kra4Span').innerText;
        document.getElementById('totalPointsInput').value = document.getElementById('totalPointsSpan').innerText;
    });
</script>

{% comment %} POST: Reclassification {% endcomment %}
<script>
$(document).ready(function() {
    $('#rankForm').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(response) {
                alert(response.message);
                if (response.message === "Reclassification of faculty rank has been completed.") {
                    $('#rankForm')[0].reset();
                    $('#rankForm').closest('.modal').modal('hide');
                }
            },
            error: function(response) {
                alert(response.responseJSON.message);
            }
        });
    });
});
</script>


{% endblock %}