{% comment %} <script>
    $(document).ready(function() {
        var dataTable = $('#evaluations-dt').DataTable({
            "processing": true,
            "responsive": true,
            "searching": true,
            "ordering": true,
            "ajax": {
                "url": "{% url 'evaluations:eval_table' %}",
                "dataSrc": "data"
            },
            "language": {
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },
            "columns": [
                { "data": "faculty"},
                { "data": "semester"},
                { "data": "academic_year"},
                { "data": "average_rating"},
                { "data": "interpretation"},
                { "data": "performance_score"},
                //{ "data": "student_rating", "visible": false },
                //{ "data": "student_interpretation", "visible": false },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {

                        const facultyName = full.faculty;
                        const facultyScor = full.performance_score;
                        const ave_rating = full.average_rating;
                        const ar_interpretation = full.interpretation;

                        return `<a href="#" data-bs-toggle="modal" 
                                            data-faculty-name="${facultyName}" 
                                            data-faculty-scr="${facultyScor}"
                                            data-faculty-ave="${ave_rating}"
                                            data-ave-interp="${ar_interpretation}"
                                        data-bs-target="#modal-average">
                                    <span class="col">See Details</span>
                                </a>`;
                    }
                }
            ],    
            "columnDefs": [{
                targets: [6], orderable: false,
                "className": "dt-left" 
            }],
            "pageLength": 5,
        }); 

        $('.search-input-ave').on('keyup', function () {
            var column = $(this).data('column');
            dataTable.column(column).search(this.value).draw();
        });

        function recalculateResponsive() {
            dataTable.responsive.recalc();
        } 
        $(window).resize(recalculateResponsive);
    });
</script> {% endcomment %}
<script>
    $(document).ready(function() {
        var dataTable = $('#evaluations-dt').DataTable({
            "processing": true,
            "responsive": true,
            "searching": true,
            "ordering": true,
            "ajax": {
                "url": "{% url 'evaluations:eval_table' %}",
                "dataSrc": "data"
            },
            "language": {
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },
            "columns": [
                { "data": "faculty"},
                { "data": "overall_ave_student_rating"},
                { "data": "sr_perf"},
                { "data": "overall_ave_supervisor_rating"},
                { "data": "sp_perf"},
                //{ "data": "student_rating", "visible": false },
                //{ "data": "student_interpretation", "visible": false },
                {
                    "data": null,
                    "render": function (data, type, full, meta) {

                        const facultyName = full.faculty;
                        const facultyScore = full.performance_score;
                        const studentRate = full.overall_ave_student_rating;
                        const supervisorRate = full.overall_ave_supervisor_rating;

                        return `<a href="#" data-bs-toggle="modal" 
                                            data-faculty-name="${facultyName}" 
                                            data-faculty-scr="${facultyScore}"
                                            data-faculty-student="${studentRate}"
                                            data-faculty-supervisor="${supervisorRate}"
                                        data-bs-target="#modal-average">
                                    <span class="col">See Details</span>
                                </a>`;
                    }
                },
                { "data": "performance_score", "visible": false },
            ],    
            "columnDefs": [{
                targets: [5], orderable: false,
                "className": "dt-left" 
            }],
            "pageLength": 5,
        }); 

        $('.search-input-ave').on('keyup', function () {
            var column = $(this).data('column');
            dataTable.column(column).search(this.value).draw();
        });

        function recalculateResponsive() {
            dataTable.responsive.recalc();
        } 
        $(window).resize(recalculateResponsive);
    });
</script>
<script>
    $('#modal-average').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var facultyName = button.data('faculty-name');
        $('#facultyNameSpan').text(facultyName);
        
        var facultyScor = button.data('faculty-scr');
        $('#facultyScrSpan').text(facultyScor);
        
        var student_rating = button.data('faculty-student');
        $('#stRateSpan').text(student_rating);
        
        var supervisor_rating = button.data('faculty-supervisor');
        $('#svRateSpan').text(supervisor_rating);
    });
</script>