
<script>
    $(document).ready(function() {
        var dataTable = $('#supervisor-rating').DataTable({
            "processing": true,
            "responsive": true,
            "searching": true,
            "ordering": true,
            "ajax": {
                "url": "{% url 'evaluations:eval_table' %}",
                "dataSrc": "data"
            },
            "language": {
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },
            "columns": [
                { "data": "faculty"},
                { "data": "semester"},
                { "data": "academic_year"},
                { "data": "supervisor_rating"},
                { "data": "supervisor_interpretation"},
            ],    
            "columnDefs": [{ 
                "className": "dt-body-left",
                "targets": 0,
            }],
            "pageLength": 5,
        }); 
        
        $('#srch-sp-1,#srch-sp-2,#srch-sp-3,#srch-sp-4,#srch-sp-5').on('keyup', function () {
            dataTable.column($(this).parent().index() + ':visible').search(this.value).draw();
        });

        function recalculateResponsive() {
            dataTable.responsive.recalc();
        } $(window).resize(recalculateResponsive);
    });
</script>