{% comment %} Modal: Supervisor Rating {% endcomment %}
<div class="modal modal-blur fade" id="modal-supervisor-rating" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert-primary" role="alert">
                    <div class="d-flex">
                        <div>
                            <h5 class="modal-title">List of Average Supervisor Rating Per Faculty</h5>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="overflow: hidden !important;">
                    <table class="table" id="supervisor-rating" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Semester</th>
                                <th>Academic Year</th>
                                <th>Supervisor Rating</th>
                                <th>Rating Interpretation</th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="text" placeholder="Search Faculty" class="form-control form-control-sm search-input-sv" data-column="0">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Semester" class="form-control form-control-sm search-input-sv" data-column="1">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Year" class="form-control form-control-sm search-input-sv" data-column="2">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Rating" class="form-control form-control-sm search-input-sv" data-column="3">
                                </th>
                                <th>
                                    <input type="text" placeholder="Search Interpretation" class="form-control form-control-sm search-input-sv" data-column="4">
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>