{% comment %} Modal: Student Rating {% endcomment %}
<div class="modal modal-blur fade" id="modal-student-rating" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert-primary" role="alert">
                    <div class="d-flex">
                        <div>
                            <h5 class="modal-title">Student Rating Per Faculty</h5>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="overflow: hidden !important;">
                    <table class="table" id="student-ratings">
                        <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Semester</th>
                                <th>Academic Year</th>
                                <th>Student Rating</th>
                                <th>Rating Interpretation</th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                        </tbody>
                        <tfoot>
                            <tr>
                                <th><input type="text" class="form-control form-control-sm" placeholder="Search by Faculty Name"      id="srch-sr-1"></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder="Search by Semester"          id="srch-sr-2"></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder="Search by Academic Year"     id="srch-sr-3"></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder="Search by Student Rating"    id="srch-sr-4"></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder="Search by Interpretation"    id="srch-sr-5"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>