{% load static %}

{% comment %} Tabler Core {% endcomment %}                                                                                                                                                         
<script src="https://preview.tabler.io/dist/js/tabler.min.js?1695847769" defer></script>
<script src="https://preview.tabler.io/dist/js/demo.min.js?1695847769" defer></script>

{% comment %} Custom Js {% endcomment %}
<script src="{% static 'js/toggle.js' %}"></script>
<script src="{% static 'js/greeting.js' %}"></script>
<script src="{% static 'js/timenow.js' %}"></script>
<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-2.0.8/cr-2.0.3/date-1.5.2/r-3.0.2/rg-1.5.0/rr-1.5.0/sc-2.4.3/sb-1.7.1/sp-2.3.1/sr-1.4.1/datatables.min.js"></script>
