{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="{% static 'img/fps.ico' %}">
    <title>Faculty Performance System v.3</title>
    {% include 'partials/_cs.html' %}
</head>
<body>
    <div class="sticky-top">
        {% include 'partials/_header.html' %}
        {% include 'partials/_topnav.html' %}
    </div>
    <div class="page-wrapper">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer footer-transparent d-print-none">
        {% include 'partials/_footer.html' %}
    </div>
</body>
    {% include 'partials/_js.html' %}
</html>