
{% extends "fps.html" %}
{% load static %}
{% block content %}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Teaching Effectiveness
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        {% include 'modules/_modal.student.html' %}
        {% include 'modules/_modal.supervisor.html' %}
        {% include 'modules/_modal.average.html' %}
        {% include 'components/evaluations/evaluations.ax.html' %}
        {% include 'components/evaluations.dt.html' %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'modules/_e.te.js.html' %}
{% include 'modules/_e.te.student.js.html' %}
{% include 'modules/_e.te.supervisor.js.html' %}

<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
{% include 'components/evaluations/_st.charts.js.html' %}
{% include 'components/evaluations/_sv.charts.js.html' %}

{% endblock %}