{% extends "fps.html" %}
{% load static %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Teaching Effectiveness
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        {% comment %} Modal: Student Rating {% endcomment %}
        <div class="modal modal-blur fade" id="modal-student-rating" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Student Rating Per Faculty</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Faculty</button></th>
                                    <th><button class="table-sort">Semester</button></th>
                                    <th><button class="table-sort">Academic Year</button></th>
                                    <th><button class="table-sort">Student Rating</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>First</td>
                                    <td>2023 - 2024</td>
                                    <td>4.98</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Second</td>
                                    <td>2023 - 2024</td>
                                    <td>4.55</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>First</td>
                                    <td>2022 - 2023</td>
                                    <td>4.18</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Second</td>
                                    <td>2022 - 2023</td>
                                    <td>4.13</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Modal: Supervisor Rating {% endcomment %}
        <div class="modal modal-blur fade" id="modal-supervisor-rating" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="min-width: 1080px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Supervisor Rating Per Faculty</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><button class="table-sort">Faculty</button></th>
                                    <th><button class="table-sort">Semester</button></th>
                                    <th><button class="table-sort">Academic Year</button></th>
                                    <th><button class="table-sort">Supervisor Rating</button></th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody">
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>First</td>
                                    <td>2023 - 2024</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Second</td>
                                    <td>2023 - 2024</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>First</td>
                                    <td>2022 - 2023</td>
                                    <td>4.71</td>
                                </tr>
                                <tr>
                                    <td>Alma A. Fernandez</td>
                                    <td>Second</td>
                                    <td>2022 - 2023</td>
                                    <td>4.71</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Detail Modal: Average Rating {% endcomment %}
        <div class="modal modal-blur fade" id="modal-average" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="alert-primary" role="alert">
                            <div class="d-flex">
                                <div>
                                    <h5 class="modal-title">Teaching Effectiveness Performance</h5>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="py-2">
                            <div class="row">
                                <h4 class="col-auto col-lg-6">Faculty Name:</h4>
                                <span class="col-auto col-lg-6">Alma A. Fernandez</span>
                            </div>
                            <div class="row">
                                <h4 class="col-auto col-md-6">Performance Score:</h4>
                                <div class="col-auto col-md-6">
                                    <span class="col-auto">99.8</span>
                                </div>
                            </div>
                        </div>
                        <div class="py-2">
                            <div class="row">
                                <div class="accordion p-0" id="accordionExample">
                                    <div class="accordion-item" style="border: 0px !important;">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button p-2 collapsed fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Metrics
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="py-2">
                                                    <p class="py-1 text-muted">
                                                        To convert the average rating into a performance score based on a scale of 100.00, you can follow these steps:
                                                        <ul class="list-unstyled text-muted" style="margin-left: 1rem;">
                                                            <li>1. Identify the highest rating (5.00), since both the highest student and supervisor ratings are out of 5.</li>
                                                                <br/>
                                                            <li>2. To understand the rating range, below are the list of rating interpretation:</li>
                                                            <p class="text-muted">
                                                                <div class="row">
                                                                    <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                        <li>5.00: </li>
                                                                        <li>4.00 - 4.99:</li>
                                                                        <li>3.00 - 3.99:</li>
                                                                        <li>2.00 - 2.99:</li>
                                                                        <li>1.00 - 1.99:</li>
                                                                    </ul>
                                                                    <ul class="list-unstyled text-muted col-auto" style="margin-left: 1rem;">
                                                                        <li><span>Outstanding</span></li>
                                                                        <li><span>Very Satisfactory</span></li>
                                                                        <li><span>Satisfactory</span></li>
                                                                        <li><span>Fair</span></li>
                                                                        <li><span>Poor</span></li>
                                                                    </ul>
                                                                </div>
                                                            </p>
                                                                <br/>
                                                            <li>3. Score = ( Average Rating / Maximum Evaluation Rating ) * 100</li>
                                                                <br/>
                                                        </ul>
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                        </div>
                                                        <h4 class="col-auto">Average Rating:</h4>
                                                        <span class="col-auto">4.99</span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <svg  xmlns="http://www.w3.org/2000/svg" class="icon text-dark"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4" /><path d="M9 15l-4.5 4.5" /><path d="M14.5 4l5.5 5.5" /></svg>
                                                        </div>
                                                        <h4 class="col-auto">Interpretation:</h4>
                                                        <span class="col-auto">Very Satisfactory</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Analytics: Student and Supervisor Rating {% endcomment %}
        <div class="row row-deck row-cards">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="col card-title mb-0 fw-bolder">Average Student Rating Per Academic Year</h3>
                            <div class="ms-auto lh-1">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-student-rating">
                                    <span class="col">View</span>
                                </a>
                            </div>
                        </div>
                        <div id="studentrateChart" class="chart-lg"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <h3 class="col card-title mb-0 fw-bolder">Average Supervisor Rating Per Academic Year</h3>
                            <div class="ms-auto lh-1">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-supervisor-rating">
                                    <span class="col">View</span>
                                </a>
                            </div>
                        </div>
                        <div id="supervrateChart" class="chart-lg"></div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Table: Evaluation Counts {% endcomment %}
        <div class="card mt-4">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><button class="table-sort">Faculty</button></th>
                                <th><button class="table-sort">Semester</button></th>
                                <th><button class="table-sort">Academic Year</button></th>
                                <th><button class="table-sort">Average Rating</button></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>First</td>
                                <td>2023 - 2024</td>
                                <td>4.99</td>
                                <th><a href="#" data-bs-toggle="modal" data-bs-target="#modal-average" class="fw-medium">See Details</a></th>
                            </tr>
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>Second</td>
                                <td>2023 - 2024</td>
                                <td>4.78</td>
                                <th><a href="#" class="fw-medium">See Details</a></th>
                            </tr>
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>First</td>
                                <td>2022 - 2023</td>
                                <td>4.45</td>
                                <th><a href="#" class="fw-medium">See Details</a></th>
                            </tr>
                            <tr>
                                <td>Alma A. Fernandez</td>
                                <td>Second</td>
                                <td>2022 - 2023</td>
                                <td>4.13</td>
                                <th><a href="#" class="fw-medium">See Details</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
{% comment %} Script: Average Student Rating Per Academic Year {% endcomment %}
<script>
    var options = {
        chart: {
            type: "bar",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "First Semester",
                data: [4.53, 4.18, 4.13, 4.98, 3.55],
            },
            {
                name: "Second Semester",
                data: [4.71, 4.71, 4.71, 5.00, 5.00],
            },
        ],
        //colors: ["#206bc4", "#2F444E"],
        xaxis: {
            categories: ["2018 - 2019", "2019 - 2020", "2020 - 2021", "2022 - 2023", "2023 - 2024"],
            title: {
                text: "Academic Year",
            },
        },
        yaxis: {
            title: {
                text: "Rating Score",
            },
            max: 5,
        },
    };
    var chart = new ApexCharts(document.getElementById("studentrateChart"), options);
    chart.render();
</script>
{% comment %} Script: Average Supervisor Rating Per Academic Year {% endcomment %}
<script>
    var options = {
        chart: {
            type: "bar",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "First Semester",
                data: [4.53, 4.18, 4.13, 3.98, 3.55],
            },
            {
                name: "Second Semester",
                data: [4.71, 4.71, 4.71, 5.00, 5.00],
            },
        ],
        xaxis: {
            categories: ["2018 - 2019", "2019 - 2020", "2020 - 2021", "2022 - 2023", "2023 - 2024"],
            title: {
                text: "Academic Year",
            },
        },
        yaxis: {
            title: {
                text: "Rating Score",
            },
            max: 5,
        },
    };
    var chart = new ApexCharts(document.getElementById("supervrateChart"), options);
    chart.render();
</script>
{% endblock %}