<script>
    var researchTypes = JSON.parse('{{ research_types|escapejs }}');
    var researchSeries = JSON.parse('{{ research_series|escapejs }}');

    var optionsBar = {
        chart: {
            type: "bar",
            height: 350,
            toolbar: {
                show: false
            },
        },
        series: [
            {
                name: "Papers Published",
                data: researchSeries,
            },
        ],
        xaxis: {
            categories: researchTypes,
            title: {
                text: "Research Types",
            },
        },
        yaxis: {
            title: {
                text: "No. of Papers",
            },
            max: 100,
            min: 0,
        },
        colors: ['#4299e1'],
    };

    var chartOutputTypes = new ApexCharts(document.getElementById("researchPerType"), optionsBar);
    chartOutputTypes.render();
</script>