{% comment %} Table: Prodev Counts {% endcomment %}
<div class="card mt-4">
    <div class="card-header">
        <h3 class="mb-0">List of Participants</h3>
    </div>
    <div class="card-body">
        <div style="overflow: hidden !important;">
            <table class="table" id="table-prodev">
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Conference/Training</th>
                        <th>Organizer</th>
                        <th>Hours Accumulated</th>
                        <th>Date of Activity</th>
                        <th>Scope</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <input type="text" placeholder="Search Participant" class="form-control form-control-sm search-input-dt-prodev" data-column="0">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Conference" class="form-control form-control-sm search-input-dt-prodev" data-column="1">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Organizer" class="form-control form-control-sm search-input-dt-prodev" data-column="2">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Hours" class="form-control form-control-sm search-input-dt-prodev" data-column="3">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Date" class="form-control form-control-sm search-input-dt-prodev" data-column="4">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Scope" class="form-control form-control-sm search-input-dt-prodev" data-column="5">
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>