
{% comment %} Table: Research Counts {% endcomment %}
<div class="card mt-4">
    <div class="card-header">
        <h3 class="mb-0">List of Authors</h3>
    </div>
    <div class="card-body">
        <div style="overflow: hidden !important;">
            <table class="table" id="dummy-research">
                <thead>
                    <tr>
                        <th>Research Author</th>
                        <th>Research Title</th>
                        <th>Research Output Type</th>
                        <th>Journal/Publisher</th>
                        <th>Status</th>
                        <th>Date Published</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <input type="text" placeholder="Search Author" class="form-control form-control-sm search-input-dt-research" data-column="0">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Title" class="form-control form-control-sm search-input-dt-research" data-column="1">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Output Type" class="form-control form-control-sm search-input-dt-research" data-column="2">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Publisher" class="form-control form-control-sm search-input-dt-research" data-column="3">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Status" class="form-control form-control-sm search-input-dt-research" data-column="4">
                        </th>
                        <th>
                            <input type="text" placeholder="Search Date" class="form-control form-control-sm search-input-dt-research" data-column="5">
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>