{% load static %}

{% comment %} Analytics: Student and Supervisor Rating {% endcomment %}
<div class="row row-deck row-cards">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <h3 class="col card-title mb-0 fw-bolder">Average Student Rating Per Academic Year</h3>
                    {% url 'dashboard:dashboard' as dashboard_url %}
                    {% if request.path == dashboard_url %}
                    <div class="ms-auto lh-1">
                        <a href="{% url 'evaluations:evaluations' %}">
                            <span class="col">Check Details</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="ms-auto lh-1" style="margin-right: 1rem;">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-student-rating">
                            <span class="col">Details</span>
                        </a>
                    </div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Filter</span></a>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <a class="dropdown-item" href="#" data-student-year="all">Display All</a>
                                <a class="dropdown-item" href="#" data-student-year="2023-2024">2023-2024</a>
                                <a class="dropdown-item" href="#" data-student-year="2022-2023">2022-2023</a>
                                <a class="dropdown-item" href="#" data-student-year="2021-2022">2021-2022</a>
                                <a class="dropdown-item" href="#" data-student-year="2020-2021">2020-2021</a>
                                <a class="dropdown-item" href="#" data-student-year="2019-2020">2019-2020</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="studentrateChart" class="chart-lg"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <h3 class="col card-title mb-0 fw-bolder">Average Supervisor Rating Per Academic Year</h3>
                    {% url 'dashboard:dashboard' as dashboard_url %}
                    {% if request.path == dashboard_url %}
                    <div class="ms-auto lh-1">
                        <a href="{% url 'evaluations:evaluations' %}">
                            <span class="col">Check Details</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="ms-auto lh-1" style="margin-right: 1rem;">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-supervisor-rating">
                            <span class="col">Details</span>
                        </a>
                    </div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Filter</span></a>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <a class="dropdown-item" href="#" data-supervisor-year="all">Display All</a>
                                <a class="dropdown-item" href="#" data-supervisor-year="2023-2024">2023-2024</a>
                                <a class="dropdown-item" href="#" data-supervisor-year="2022-2023">2022-2023</a>
                                <a class="dropdown-item" href="#" data-supervisor-year="2021-2022">2021-2022</a>
                                <a class="dropdown-item" href="#" data-supervisor-year="2020-2021">2020-2021</a>
                                <a class="dropdown-item" href="#" data-supervisor-year="2019-2020">2019-2020</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="supervrateChart" class="chart-lg"></div>
            </div>
        </div>
    </div>
</div>