
{% extends "fps.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        <span id="greeting"></span>, {{ user.first_name }}!
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="page-pretitle">
                        <div class="page-pretitle fw-bolder">
                            <span id="currentDateTime"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            <div class="mb-4">
                {% include 'components/research/_card.rs_titlestatus.html' %}
            </div>
            <div class="mb-2">
                {% include 'components/evaluations/evaluations.ax.html' %}
            </div>
            <div>
                <div class="row row-deck row-cards">
                    {% include 'components/prodevelopment/prodev.ax.html' %}
                    {% include 'components/extensionservices/ext.ax.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js?1695847769"></script>
{% include 'components/evaluations/_st.charts.js.html' %}
{% include 'components/evaluations/_sv.charts.js.html' %}

{% include 'components/prodevelopment/_js.ax.scope.html' %}

{% include 'components/extensionservices/_ax.role.js.html' %}

{% endblock %}